/* © Victor Loots, 2022
/*
/* Fonts */
@font-face {
  font-family: "domineregular";
  src: url("../fonts/domine-regular-webfont.eot");
  src: url("../fonts/domine-regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/domine-regular-webfont.woff2") format("woff2"),
    url("../fonts/domine-regular-webfont.woff") format("woff"),
    url("../fonts/domine-regular-webfont.ttf") format("truetype"),
    url("../fonts/domine-regular-webfont.svg#domineregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "montserratregular";
  src: url("../fonts/montserrat-regular-webfont.eot");
  src: url("../fonts/montserrat-regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/montserrat-regular-webfont.woff2") format("woff2"),
    url("../fonts/montserrat-regular-webfont.woff") format("woff"),
    url("../fonts/montserrat-regular-webfont.ttf") format("truetype"),
    url("../fonts/montserrat-regular-webfont.svg#montserratregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "open_sansregular";
  src: url("../fonts/opensans-regular-webfont.eot");
  src: url("../fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/opensans-regular-webfont.woff2") format("woff2"),
    url("../fonts/opensans-regular-webfont.woff") format("woff"),
    url("../fonts/opensans-regular-webfont.ttf") format("truetype"),
    url("../fonts/opensans-regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'makoregular';
  src: url('../fonts/mako-regular-webfont.eot');
  src: url('../fonts/mako-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/mako-regular-webfont.woff2') format('woff2'),
    url('../fonts/mako-regular-webfont.woff') format('woff'),
    url('../fonts/mako-regular-webfont.ttf') format('truetype'),
    url('../fonts/mako-regular-webfont.svg#makoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*
/* Variabelen */
:root {
  --font_titel: "domineregular", Georgia, serif;
  --font_subtitel: "montserratregular", Verdana, sans-serif;
  --font-brood: "makoregular", helvetica, sans-serif;
  --kleur_wit: #f8f7f3;
  --kleur_zwart: #303030;
}

/* 
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
/* Standards */
body {
  min-height: 100%;
  color: var(--kleur_zwart);
  background-color: var(--kleur_wit);
  font-family: var(--font-brood);
  font-size: 1rem;
  line-height: 1.5;
}

#container {
  padding: 1rem;
  background: linear-gradient(to bottom, #1e5799 0%, #7db9e8 50%, #1e5799 100%);
}


.grid_container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, 16.67%);
  grid-template-rows: repeat(6, 16.67%);
  gap: 0.5rem;
  width: 1200px;
  height: 100vh;
  margin: 0 auto;
  
}

.grid_container::before {
  content: "";
  background: url(../img/reebok_logo.png) center center/contain no-repeat;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
}

.grid_item {
  position: relative;
  width: 100%;
  height: 100%;
}
.grid_shoe{
  grid-area: 3/4;
}

.grid_slogan {
  grid-area: 7/4/6/8;
}
.grid_title {
  grid-area: 2/1/2/3;
}
.grid_tekst{
  grid-area: 3/1/4/3;
}
.grid_shoe img, .grid_slogan h2{
  transform: rotate(-45deg);
  transform-origin: bottom left;
}
.grid_slogan h2 {
  letter-spacing: 10px;
  font-size: 3rem;
  color: #1e5799;
  text-shadow: 2px 2px #303030;

}
.grid_title h3{
  color: #1e5799;
}
.grid_tekst p{
  padding: 0.4rem 0;
}


footer {
  display: flex;
  justify-content: space-around;
  font-family: var(--font_subtitel);
  padding: 1rem 0 0.5rem 0;
}