/* © Victor Loots, 2022
/*
/* Fonts */
@font-face {
  font-family: "domineregular";
  src: url("../fonts/domine-regular-webfont.eot");
  src: url("../fonts/domine-regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/domine-regular-webfont.woff2") format("woff2"),
    url("../fonts/domine-regular-webfont.woff") format("woff"),
    url("../fonts/domine-regular-webfont.ttf") format("truetype"),
    url("../fonts/domine-regular-webfont.svg#domineregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "montserratregular";
  src: url("../fonts/montserrat-regular-webfont.eot");
  src: url("../fonts/montserrat-regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/montserrat-regular-webfont.woff2") format("woff2"),
    url("../fonts/montserrat-regular-webfont.woff") format("woff"),
    url("../fonts/montserrat-regular-webfont.ttf") format("truetype"),
    url("../fonts/montserrat-regular-webfont.svg#montserratregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "open_sansregular";
  src: url("../fonts/opensans-regular-webfont.eot");
  src: url("../fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/opensans-regular-webfont.woff2") format("woff2"),
    url("../fonts/opensans-regular-webfont.woff") format("woff"),
    url("../fonts/opensans-regular-webfont.ttf") format("truetype"),
    url("../fonts/opensans-regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'makoregular';
  src: url('../fonts/mako-regular-webfont.eot');
  src: url('../fonts/mako-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/mako-regular-webfont.woff2') format('woff2'),
    url('../fonts/mako-regular-webfont.woff') format('woff'),
    url('../fonts/mako-regular-webfont.ttf') format('truetype'),
    url('../fonts/mako-regular-webfont.svg#makoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*
/* Variabelen */
:root {
  --font_titel: "domineregular", Georgia, serif;
  --font_subtitel: "montserratregular", Verdana, sans-serif;
  --font-brood: "makoregular", helvetica, sans-serif;
  --kleur_wit: #f8f7f3;
  --kleur_zwart: #303030;
}

/* 
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
/* Standards */
body {
  min-height: 100%;
  color: var(--kleur_zwart);
  background-color: var(--kleur_wit);
  font-family: var(--font-brood);
  font-size: 1rem;
  line-height: 1.5;
}

#container {
  padding: 1rem;
  background: linear-gradient(to bottom, #1e5799 0%, #7db9e8 50%, #1e5799 100%);
}


.grid_container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, 16.67%);
  grid-template-rows: repeat(6, 16.67%);
  gap: 0.5rem;
  width: 1200px;
  height: 100vh;
  margin: 0 auto;

}

.grid_container::before {
  content: "";
  background: url(../img/reebok_logo.png) center center/contain no-repeat;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.2;
}

.grid_item {
  position: relative;
  width: 100%;
  height: 100%;
}

.grid_shoe {
  grid-area: 3/3;
}

.grid_slogan {
  grid-area: 2/3/5/28;
  transform: rotate(60deg);
}

.grid_title {
  grid-area: 1/1/2/3;
}

.grid_tekst {
  grid-area: 2/1/4/3;
}

.grid_shoe img:hover {
  display: block;
  cursor: pointer;
  transform: rotate(360deg) scale(1.3);
  transition: transform 0.2s linear;
}

.grid_slogan blockquote {
  position: relative;
  letter-spacing: 10px;
  font-size: 3rem;
  font-weight: 900;
  color: #1e5799;
  text-shadow: 3px 3px 3px #303030;
  text-align: center;
  margin-left: 1rem;
}

.grid_slogan blockquote:before,
.grid_slogan blockquote:after {
  position: absolute;
  color: #1e5799;
  text-shadow: 3px 3px 3px #303030;
  font-size: 13rem;
  font-weight: 100;
  line-height: 1rem;
}

.grid_slogan blockquote:before {
  content: open-quote;
  top: 4rem;
  left: 13rem;
}

.grid_slogan blockquote:after {
  content: close-quote;
  bottom: -4rem;
  right: 13rem;
}

.arrow {
  border: solid #1e5799;
  border-width: 0 6px 6px 0;
  display: inline-block;
  padding: 3px;
}

.arrow_up {
  transform: rotate(-135deg);
}

.arrow_down {
  transform: rotate(45deg);
}

.grid_title h2 {
  color: white;
  font-size: 2rem;
  font-weight: 700;
  text-shadow: 2px 2px 3px #303030;
}

.bright {
  font-weight: 900;
  text-shadow: none;
  background-color: #f3ec78;
  background-image: linear-gradient(to right, #ea2803 3%, #ff6600 50%, #c72200 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.grid_tekst p {
  font-size: 1.5rem;
  padding: 0.4rem 4rem 0 0;
}

.grid_tekst p:nth-of-type(2) {
  padding: 1rem 10rem 0 0;
}

.dropcap::first-letter {
  float: left;
  font-size: 7rem;
  color: #1e5799;
  text-shadow: 3px 3px 3px #303030;
  line-height: 0.6;
  margin: 0.2em 0.1em 0.1em 0;

}


footer {
  display: flex;
  justify-content: space-around;
  font-family: var(--font_subtitel);
  padding: 1rem 0 0.5rem 0;
}